<section class="page-title parallax">
      <div data-parallax="scroll" data-image-src="images/bg/3.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="title center">
                <h1 class="upper">About Studio<span class="red-dot"></span></h1>
                <h4>We are a small agency.</h4>
                <hr>
              </div>
            </div>
            <!-- end of container-->
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="title txt-sm-center txt-xs-center mt-0">
              <h3>This Is Our Story<span class="red-dot"></span></h3>
              <p class="serif">Voluptate reiciendis ducimus alias perspiciatis repellendus dolore voluptatibus dolor quae.</p>
              <hr>
            </div>
          </div>
          <div class="col-md-7 col-md-offset-1">
            <ul role="tablist" class="nav nav-tabs outline">
              <li role="presentation" class="active"><a href="#method-tab" role="tab" data-toggle="tab">Method</a>
              </li>
              <li role="presentation"><a href="#skills-tab" role="tab" data-toggle="tab">Skills</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="method-tab" role="tabpanel" class="tab-pane fade in active">
                <p class="alt-paragraph mb-15">Consectetur adipisicing elit. Nisi quibusdam adipisci dignissimos nihil cumque sapiente dolorem, laborum.</p>
                <p class="alt-paragraph mb-15">Aperiam maxime qui sed necessitatibus earum voluptatem nobis modi soluta, unde aliquid veniam reiciendis repudiandae voluptas possimus!</p>
                <p class="alt-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur assumenda qui facilis magni quod quia quas recusandae cum rem amet, minus natus impedit autem dolores dolor, sed perspiciatis voluptate, est!</p>
              </div>
              <div id="skills-tab" role="tabpanel" class="tab-pane fade">
                <div class="skill"><span class="skill-name">Design</span><span class="skill-perc">90%</span>
                  <div class="progress">
                    <div role="progressbar" data-progress="90" class="progress-bar colored"></div>
                  </div>
                </div>
                <div class="skill"><span class="skill-name">Branding</span><span class="skill-perc">80%</span>
                  <div class="progress">
                    <div role="progressbar" data-progress="80" class="progress-bar colored"></div>
                  </div>
                </div>
                <div class="skill"><span class="skill-name">Product Development</span><span class="skill-perc">85%</span>
                  <div class="progress">
                    <div role="progressbar" data-progress="85" class="progress-bar colored"></div>
                  </div>
                </div>
                <div class="skill"><span class="skill-name">Web Development</span><span class="skill-perc">95%</span>
                  <div class="progress">
                    <div role="progressbar" data-progress="95" class="progress-bar colored"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of row                    -->
      </div>
      <!-- end of container                  -->
    </section>
    <section class="dark p-0">
      <div class="boxes">
        <div class="container-fluid">
          <div class="row">
            <div data-bg-color="#1c1e20" class="col-md-4">
              <div class="number-box"><span>Item No.</span>
                <h2>01<span class="red-dot"></span></h2>
                <h4>Discover.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div data-bg-color="#25282b" class="col-md-4">
              <div class="number-box"><span>Item No.</span>
                <h2>02<span class="red-dot"></span></h2>
                <h4>Design.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
            <div data-bg-color="#2A2D30" class="col-md-4">
              <div class="number-box"><span>Item No.</span>
                <h2>03<span class="red-dot"></span></h2>
                <h4>Development.</h4>
                <p>Accusamus a, laboriosam autem animi similique iste harum doloribus quas fuga, minima error ea nihil eius repellat reprehenderit.</p>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section>
      <div class="container">
        <div class="title center">
          <h4 class="upper">Passion. Dedition. Determination.</h4>
          <h2>The Team<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content">
          <div data-options="{&quot;items&quot;: 3, &quot;autoplay&quot;: true, &quot;margin&quot;: 30}" class="owl-carousel">
            <div class="team-member">
              <div class="team-image">
                <img src="images/team/4.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Arya Stark</h3><span>Founder and CEO</span>
              </div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="blank"><i class="ti-facebook"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-linkedin"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-instagram"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-dribbble"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of team member                      -->
            <div class="team-member">
              <div class="team-image">
                <img src="images/team/5.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Jesse Pinkman</h3><span>Architect</span>
              </div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="blank"><i class="ti-facebook"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-linkedin"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-instagram"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-dribbble"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of team member                      -->
            <div class="team-member">
              <div class="team-image">
                <img src="images/team/6.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Elliot Anderson</h3><span>Engineer</span>
              </div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="blank"><i class="ti-facebook"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-linkedin"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-instagram"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-dribbble"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of team member                      -->
            <div class="team-member">
              <div class="team-image">
                <img src="images/team/7.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Jesse Pinkman</h3><span>Interior Designer</span>
              </div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="blank"><i class="ti-facebook"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-linkedin"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-instagram"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-dribbble"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of team member                      -->
            <div class="team-member">
              <div class="team-image">
                <img src="images/team/8.jpg" alt="">
              </div>
              <div class="team-info">
                <h3>Robin Scherbatsky</h3><span>Sales Manager</span>
              </div>
              <div class="team-social">
                <ul>
                  <li><a href="#" target="blank"><i class="ti-facebook"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-linkedin"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-instagram"></i></a>
                  </li>
                  <li><a href="#" target="blank"><i class="ti-dribbble"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of team member                      -->
          </div>
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container-->
    </section>
    <section class="parallax">
      <div data-parallax="scroll" data-image-src="images/bg/27.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="title center">
            <h3>Customers Love Us<span class="red-dot"></span></h3>
            <hr>
          </div>
          <div class="section-content p-0">
            <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;controlNav&quot;: true}" class="flexslider nav-outside">
              <ul class="slides">
                <li>
                  <blockquote>
                    <p>"Blanditiis impedit omnis excepturi rem dolores! Ab consequuntur reiciendis eaque atque."</p>
                    <footer>Jon Snow - Google Inc.</footer>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>"Dolorem natus, sint. Enim molestias expedita laboriosam perferendis possimus facere nostrum laudantium vero."</p>
                    <footer>Daenerys Targarien - Apple Inc.</footer>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of section content-->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <section class="pb-50 pt-50">
      <div class="container">
        <div data-options="{&quot;items&quot;: 6, &quot;autoplay&quot;: true, &quot;margin&quot;: 100, &quot;mdItems&quot;: 5, &quot;smItems&quot;: 4, &quot;xsItems&quot;: 3}" class="owl-carousel">
          <div class="client">
            <img src="images/clients/1.png" alt="">
          </div>
          <div class="client">
            <img src="images/clients/2.png" alt="">
          </div>
          <div class="client">
            <img src="images/clients/3.png" alt="">
          </div>
          <div class="client">
            <img src="images/clients/4.png" alt="">
          </div>
          <div class="client">
            <img src="images/clients/5.png" alt="">
          </div>
          <div class="client">
            <img src="images/clients/6.png" alt="">
          </div>
        </div>
      </div>
      <!-- end of container-->
    </section>